@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: 'Cinzel'; */
  /* background-color: #FDF5F7; */
  background-color: #ffffff;
}


h1, header {
  font-family: Cinzel;
}

h1,body {
  font-family: Cinzel;
}

body {
  font-family: Montserrat;
}